body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gap5vh {
  height: 5vh;
}

.submit-btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: green;
  color: white;
}

.chat_container {
  height: 85vh;
}

.container2 {
  max-width: 1400px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}